<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gasolinera</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="bg-dark text-white p-2 mb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img
            src="https://thumbs.dreamstime.com/z/petrol-gas-station-background-decorate-design-cartoon-vector-50926273.jpg"
            alt="Logo veterinaria Lissette" height="50px" height="60px">
        </div>
        <div class="col-md-5 align-self-center">
          <h4 class="title">Gasolinera Chantell Villeda</h4>
        </div>
        <div class="col-md-5 align-self-center">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-1 align-self-center">
          <button type="button" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md">
          <h2>Bienvenido</h2>
          <hr>
          <h6 class="text-justify">
            Gasolinera Chantell Villeda es una compañía energética que opera a nivel internacional integral como ninguna otra. 
            Cuando decimos que impulsamos destinos, no nos referimos solamente a ponerle gasolina o diésel al 
            tanque o a brindar combustibles de primera calidad a las aerolíneas, las navieras y los proveedores 
            de energía más grandes del mundo. Es más que eso. Para nosotros, impulsar destinos es generar un 
            impacto positivo en la vida de todos nuestros clientes y de las comunidades a las que prestamos 
            nuestros servicios.
          </h6>
        </div>
      </div>
    </div>

    <!--Inicio componente combustible-->
    <app-combustible></app-combustible>
    <!--Fin del componente combustible-->

  </div>

  <div class="row pt-3">
    <div class="col-md-12 footer bg-dark text-center text-white p-2">
      <h5>Gasolinera Chantell Villeda</h5>
      <p><span>© 2020 </span></p>
    </div>
  </div>
</body>

</html>