<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora de salarios</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header class="bg-info text-white p-2 mb-3">
    <div class="container">
      <div class="row">
          <div class="col-md-5">
          <h1 class="title">Calculadora de salarios</h1>
        </div>
        <div class="col-md-5 align-self-center">
          <input type="text" class="form-control">
        </div>
        <div class="col-md-1 align-self-center">
        </div>
      </div>
    </div>
  </header>
 <div>
    <!--Inicio componente registro-->
    <app-registro></app-registro>
    <!--Fin del componente registro-->

  </div>

  <div class="row pt-3">
    <div class="col-md-12 footer bg-info text-center text-white p-2">
      <h6>CHANTELL ALVARENGA Y JOSUE VILLEDA </h6>
      <p><span>© 2020 </span></p>
    </div>
  </div>
</body>

</html>